.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #b2fba5;
}

.container {
  width: 95%;
  max-width: 640px;
  height: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: var(--font-big);
  display: inline;
}

p {
  margin: var(--space-small);
  font-size: var(--font-medium);
}

.button {
  background-color: var(--color-button);
  font-size: var(--font-small);
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  transition: linear .3s;
  text-decoration: none;

  &:hover {
    box-shadow: none;
    letter-spacing: 1px;
  }

  &:active {
    transition: 0s;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3) inset;
  }
}

.input {
  border: none;
  outline: none;
  font-size: var(--font-medium);
  color: var(--color-primary);
  background-color: transparent;
  text-align: center;
  transition: .3s;

  &::placeholder {
    color: var(--color-secondary);
  }
}

/******************************** home page ********************************/
.home-img-list {
  width: auto;
  height: auto;
  padding: var(--space-big);
  border: 3px solid var(--color-primary);
  border-radius: 48px;
}

.home-img {
  height: 100px;
  aspect-ratio: 1/1;
  transition: .3s;

  &:hover {
    scale: 1.2;
  }
}

.home-username-input-display {
  &::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: ease-in-out .5s;
    display: block;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.home-enter-button-display {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--space-big);
  justify-content: center;
  align-content: center;
}

/******************************** create room page & join room page ********************************/
.createRoom-header,
.joinRoom-header {
  display: flex;
  gap: var(--space-big);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-big);
}

#joinRoom-input {
  caret-color: transparent;
  border-radius: 48px;

  &:focus {
    background-color: white;
  }

}

/******************************** game screen page ********************************/
.game-header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.game-container {
  width: 95%;
  height: 100%;
  flex-wrap: wrap-reverse;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#player1, #player2 {
  width: calc((820px - 5%) / 2);
  display: flex;
}

#player1 {
  flex-direction: column-reverse;
}
#player2 {
  flex-direction: column;
}

.game-img-list {
  margin-top: 0;
}

.game-img {
  width: 100px;
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 820px) {
  .game-container {
    padding: 80px 0;
    align-items: flex-end;
  }
  .game-img-list {
    margin-top: 200px;
  }
  #player1 {
    flex-direction: column;
  }
  #player2 {
    flex-direction: column;
  }
  #player1 .game-img-list {
    transform: rotate(90deg);
  }
  #player2 .game-img-list {
    transform: rotate(-90deg);
  }
}